body {
  @apply font-sans text-gray-800;
}

a:hover {
  @apply underline;
}

pre {
  overflow-x: auto;
}

code {
  @apply text-sm text-pink-600 bg-gray-100 px-1;

  pre & {
    @apply text-gray-700 bg-transparent px-0;
  }
}

.cc-header {
  @apply mb-2;
  @apply font-medium;
}

.cc-header-with-border {
  @apply cc-header border-b-2 border-gray-100;
}

.cc-link {
  @apply text-purple-600;

  &:hover {
    @apply underline;
  }
}

.svg-link {
  @apply s-6;

  &:hover {
    @apply text-purple-500;
  }
}
