<header class="px-2 mb-8 mt-12 sm:my-16 mx-auto text-center max-w-xl flex flex-col items-center content-center">
  <h1 class="mx-auto text-2xl sm:text-4xl leading-none">
    <strong class="font-bold text-purple-700">conventional: </strong>
    <span class="font-light">comments</span>
  </h1>
  <p class="text-sm font-light">
    Comments that are easy to
    <a href="https://en.wikipedia.org/wiki/Grok#In_computer_programmer_culture" rel="nofollow noopener noreferrer">grok</a>
    and
    <a href="https://en.wikipedia.org/wiki/Grep" rel="nofollow noopener noreferrer">grep</a>
  </p>
</header>
<div class="absolute top-0 right-0 m-4">
  <div class="js-stars" data-project-path="conventionalcomments/conventionalcomments.gitlab.io"></div>
</div>
